.affected {
	fill:purple !important;
}
a.control { 
	display: none;
}
a.control.highlight.hover {
	display: inline;
	color: red;
}
#movie div.highlight { 
	background-color: lightgray;
}
#movie > div {
	min-height: 150px;
}
#movie { 
	margin-bottom: 100%;
}
.region_years {
	visibility: hidden;
}
.highlight .region_years { 
	visibility: visible !important;
}
.hover, path:hover {
	fill: red !important;
}
#fixed { 
	position: fixed;
	top: 10%;
	left: 50%;
	width: 50%;
	height: 80%;
}
.highlight rect {
	fill: gray;
	stroke: black;
}
/*
.highlight rect.highlight, rect:hover { 
	fill: red;
}
*/
rect {
	fill: lightgray;
	stroke: gray;
}
#world_map {
	border: 1px solid lightgray;
	width: 95%;
	margin-right: 5%;
}
.world path.highlight { 
	fill-opacity: 1;
	stroke-opacity: 1;
}
.world path { 
	stroke: gray;
	stroke-opacity: 0.3;
	fill: lightgray; 
	fill-opacity: 0.3;
}
h3.label { 
	visibility: hidden;
}
.highlight h3.label  {
	visibility: visible;
	position: absolute;
	top: -10px;
	left: 0;
	text-align: left;
	background-color: gray;
}
.chart {
	margin-left: 0;
	margin-right: 0;
	padding: 0;
}
.chart svg { 
	position: absolute;
	top: 0;
	left: 0;
}
path.line {
	fill: none !important;
}
path.line { 
	stroke: gray;
}
path.line.hover, path.line:hover { 
	stroke: red;
}
.point {
	fill: gray;
}
